<style>
  .cont{
    display: flex;
    flex-direction: column;
    padding: 20px;
    justify-content: center;
  }
  form{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  form>*{
    margin: 5px;
  }
  .margin{
    margin: 3vh;
  }
</style>
<mat-card class="margin">
  <mat-card-content>
    <div class="cont">
      <div class="card card-body">
        <h1 style="color: white;">{{title}}</h1>
        <form>
          <mat-form-field class="example-full-width">
            <mat-label>Numero 1</mat-label>
            <input matInput placeholder="Ingresa el numero 1" name="numero1" type="number" [(ngModel)]="numero1">
          </mat-form-field>
          <mat-form-field class="example-full-width">
            <mat-label>Numero 2</mat-label>
            <input matInput placeholder="Ingresa el numero 2" name="numero2" type="number" [(ngModel)]="numero2">
          </mat-form-field>
          <div>
            <button mat-raised-button color="primary" style="margin-right: 10px;"  (click)="sumar()" >Sumar</button>
            <button mat-raised-button color="accent"  (click)="restar()">Restar</button>
          </div>
        </form>
        <h3 style="color: white;">Resultado: {{resultado}}</h3>
      </div>
    </div>
  </mat-card-content>
</mat-card>
