<div class="d-flex flex-column align-items-center mt-5">
  <div class="card card-body">
    <h1>{{title}}</h1>
    <form>
      Numero 1: <input class="form-control mt-1" name="numero1" type="number" [(ngModel)]="numero1"> 
      Numero 2: <input class="form-control mt-1" name="numero2" type="number" [(ngModel)]="numero2"> 
      <input class="btn btn-primary m-3" type="submit" value="Sumar" (click)="sumar()" />
      <input class="btn btn-success m-3" type="submit" value="Restar" (click)="restar()" />
    </form>
    <h3>Resultado: {{resultado}}</h3>
  </div>
</div>
